<section class="bg-white">
	<div
		class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6"
	>
		<div class="font-light text-gray-500 sm:text-lg">
			<h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">
				<%= site.data.home.behind_brand.heading %>
			</h2>
			<% site.data.home.behind_brand.description.forEach(function(paragraph) {
			%>
			<p class="mb-4"><%= paragraph %></p>
			<% }); %>
		</div>
		<div class="grid grid-cols-2 gap-4 mt-8">
			<% site.data.home.behind_brand.images.forEach(function(image, index) { %>
			<img
				class="w-full <%= index !== 0 ? 'mt-4 lg:mt-10' : '' %>"
				src="<%= image.src %>"
				alt="<%= image.alt %>"
			/>
			<% }); %>
		</div>
	</div>
</section>
