<section class="bg-white">
	<div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
		<div class="max-w-screen-lg text-gray-500 sm:text-lg">
			<h2 class="mb-4 text-4xl tracking-tight font-bold text-gray-900">
				<%= site.data.home.services.heading %>
			</h2>

			<% site.data.home.services.description.forEach(function(paragraph, index)
			{ %>
			<p class="mb-4 <%= index !== 0 ? 'font-medium' : 'font-light' %>">
				<%= paragraph %>
			</p>
			<% }); %>
		</div>
	</div>
</section>

<section class="bg-white antialiased">
	<div class="max-w-screen-xl px-4 pb-8 mx-auto lg:px-6 sm:pb-16 lg:pb-24">
		<div
			class="grid grid-cols-1 mt-12 text-center sm:mt-16 gap-x-20 gap-y-12 sm:grid-cols-2 lg:grid-cols-3"
		>
			<% site.pages.filter(page => page.layout ===
			'service').forEach(function(service, index) { %>

			<div class="space-y-4 mt-10">
				<span
					class="bg-primary-100 text-gray-900 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded"
				>
					Hindsight Creative
				</span>
				<h3 class="text-2xl font-bold leading-tight text-gray-900">
					<%= service.title %>
				</h3>
				<p class="text-lg font-light text-gray-500"><%= service.subtitle %></p>
				<a
					href="<%= service.permalink %>"
					title="<%= service.title %>"
					class="text-white justify-center bg-primary-900 hover:bg-primary-600 inline-flex items-center focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium text-sm px-5 py-2.5 text-center"
					role="button"
				>
					<%= service.title %>
					<svg
						aria-hidden="true"
						class="w-5 h-5 ml-2 -mr-1"
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 20 20"
						fill="currentColor"
					>
						<path
							fill-rule="evenodd"
							d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
							clip-rule="evenodd"
						/>
					</svg>
				</a>
			</div>
			<% }) %>
		</div>
	</div>
</section>
