<section class="bg-white">
	<div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
		<div class="max-w-screen-md mb-12">
			<h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">
				<%= site.data.packaging.intro.title %>
			</h2>
			<% site.data.packaging.intro.copy.forEach(function(paragraph) { %>
			<p class="mb-8 font-light text-gray-500 sm:text-xl"><%= paragraph %></p>
			<% }); %>
		</div>
	</div>

	<!-- Images -->
	<div class="sm:py-16 lg:px-6">
		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
			<% site.data.packaging.image_set_1.forEach(function(imageItem) { %>
			<div class="w-full">
				<img
					src="<%= imageItem.image %>"
					alt="Packaging design example"
					class="w-full h-auto object-cover"
				/>
			</div>
			<% }); %>
		</div>
	</div>

	<div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
		<div class="max-w-screen-md mb-12">
			<h3 class="mb-4 text-2xl tracking-tight font-bold text-gray-900">
				Description
			</h3>
			<% site.data.packaging.content_1.forEach(function(paragraph) { %>
			<p class="mb-4 font-light text-gray-500 sm:text-lg"><%= paragraph %></p>
			<% }); %>
		</div>
	</div>

	<!-- Images -->
	<div class="sm:py-16 lg:px-6">
		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
			<% site.data.packaging.image_set_2.forEach(function(imageItem) { %>
			<div class="w-full">
				<img
					src="<%= imageItem.image %>"
					alt="Packaging design example"
					class="w-full h-auto object-cover"
				/>
			</div>
			<% }); %>
		</div>
	</div>

	<div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
		<div class="max-w-screen-md mb-12">
			<h3 class="mb-4 text-2xl tracking-tight font-bold text-gray-900">
				Description
			</h3>
			<% site.data.packaging.content_2.forEach(function(paragraph) { %>
			<p class="mb-4 font-light text-gray-500 sm:text-lg"><%= paragraph %></p>
			<% }); %>
		</div>
	</div>
</section>

<%- include('_partials/service-projects', { category: page.title }) %>
